boto3 == 1.17.71
colored == 1.4.2
cryptography == 3.1
future == 0.18.2
httpsproxy-urllib2 == 1.0
paho_mqtt == 1.5.0
pyopenssl == 20.0.1
python-ntlm == 1.1.0
python-ntlm-fixed == 1.0
requests == 2.23.0
six == 1.13.0
